@font-face {
  font-family: "MarkOT";
  src: url('./fonts/MarkOT.otf');
}

@font-face {
  font-family: "MarkOT-Bold";
  src: url('./fonts/MarkOT-Bold.otf');
}

@font-face {
  font-family: "MarkOT-Medium";
  src: url('./fonts/MarkOT-Medium.otf');
}

@font-face {
  font-family: "MarkOT-Book";
  src: url('https://anima-uploads.s3.amazonaws.com/590a788ea97cdb000c9c8d17/5aa1a33a74333b000dfd3ba7/5aa1a33b13a361000b5c2508/fonts/MarkOT-Book.otf') format("opentype");
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.player-wrapper {

  width: 100%;
  height: 60vw;
}

/* .react-player {

} */
@media (min-width: 768px) {
  .player-wrapper {

    position: fixed;
    right: 12px;
    bottom: 12px;

    width: 400px;
    height: 289px;
  }
}
/* @media (min-width: 768px) {
  .player-wrapper {
    width: 400px;
  }
} */

/* .floating-player {

  width: 100%;
  padding-top: 56.25%

}

.player {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {

  .floating-player {

    right: 0;
    bottom: 0;

    width: 400px;

  }

} */