@font-face {
  font-family: "MarkOT";
  src: url('./fonts/MarkOT.otf');
}

@font-face {
  font-family: "MarkOT-Bold";
  src: url('./fonts/MarkOT-Bold.otf');
}

@font-face {
  font-family: "MarkOT-Medium";
  src: url('./fonts/MarkOT-Medium.otf');
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
